<a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  href="{{ .Permalink }}" class="card blog-card" rel="bookmark" >
    {{ if isset .Params "featuredimage" -}}
    <div class="card-img-container">
      <picture>
        {{ if (fileExists (printf "%s/%s" "static" (replace (.Params.featuredimage) (path.Ext .Params.featuredimage) ".webp"))) -}}
          <source srcset="{{ replace (.Params.featuredimage) (path.Ext (.Params.featuredimage)) ".webp" | absURL }}" type="image/webp">
        {{- end }}
        <source srcset="{{ .Params.featuredimage | absURL }}">
        <img src="{{.Params.featuredimage | absURL }}" class="card-img" {{ if isset .Params "featuredimagedescription" }}alt="{{.Params.featuredimagedescription}}"{{end}}>
      </picture>
    </div>
    {{- end }}
  <article class="card-body">
    <h2 class="card-title">{{ .Title }}</h2>
  </article>
</a>