<!-- Navbar -->
<nav class="w3-top">
    <div class="w3-bar w3-black w3-card">
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Einleitung</a>
            <a href="/familie" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Familien</a>
            <a href="/menschen" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Menschen</a>
            <a href="/geschichten" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Geschichten</a>
    </div>
</nav>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<nav id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    {{ range where .Site.Pages "Params.displayinmenu" true -}}
    <a href="{{ .Permalink }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{ .Title }}</a>
    {{ end -}}              
</nav>