<form class="w3-container" name="kontakt" netlify-honeypot="bot-field" method="POST" data-netlify="true" action="/static/success/">
    <p class="w3-hide">
        <label>Don't fill this out if you're human: <input name="bot-field"></label>
    </p>
    <p>
        <label>Name: <input class="w3-input w3-light-gray" type="text" name="name" /></label>
    </p>
    <p>
        <label>E-Mail: <input class="w3-input w3-light-gray" type="email" name="email" /></label>
    </p>
    <p>
        <label>Nachricht: <textarea class="w3-input w3-light-gray" name="message"></textarea></label>
    </p>
    <p>
        <button class="w3-input" type="submit">Senden</button>
    </p>
</form>